@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "SpoqaHanSansNeo-Regular";
    font-size: 12px;
    line-height: 15.02px;

    box-sizing: border-box;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

body,
button,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Component */
.cont-login {
    margin: 20px;
    padding: 19px 16px;
    width: 350px;
    height: 140px;

    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.btn-login {
    position: relative;
    top: 16px;
    width: 318px;
    height: 40px;
    text-align: center;

    background-color: #711bff;
    border: transparent;
    border-radius: 2px;

    color: white;
}

.btn-login img {
    display: inline-block;
    vertical-align: -3.6px;
    width: 64px;
}

.menu {
    position: relative;
    top: 30px;
}

.menu * {
    color: #767676;
}

.menu img {
    vertical-align: -3px;
}

.icon {
    width: 16px;
}
.find {
    float: left;
}
.join {
    float: right;
}

.find a {
    margin: 0 4px;
}

.join a {
    margin-left: 4px;
}
