/* 폰트를 로컬에 저장해서 사용하면 좀 더 안정적 */

@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url("../images/fonts/SpoqaHanSansNeo-Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url("../images/fonts/SpoqaHanSansNeo-Medium.otf");
    font-weight: 500;
}

body {
    background: #f2f2f2;

    font-family: "Spoqa Han Sans Neo", "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.cont-login {
    width: 500px;
    height: 240px;
    padding: 29px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.cont-login .txt-login {
    margin: 25px 0px 31px;
}

.btn-login {
    width: 100%;
    padding: 17px 15px 15px;

    background: #2f80ed;
    border-radius: 5px;

    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}
